body{
	margin: 0;
 text-align: 
}
body{
	font-family: Arial,Roboto;
	}

	body{
	background-image: url(https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/news/featured_media/World_Environment_Day_2018.PNG?pESACBlVvvuQBgfqPbbtQS1k40Fhwky0&itok=El51QQcb);
	background-repeat: no-repeat;
  background-size: 1500px 1000px;
}