body{
	margin: 0;
 text-align: 
}
body{
	font-family: Arial,Roboto;
}
body{
	background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/planet-1524050930.jpg);
	background-repeat: no-repeat;
  background-size: 1500px 850px;
}
a{
	color: red;
	font-size:20px;
}
a:hover{
	color: #FF00EC
}