body{
	margin: 0;
 text-align: 
}
body img{
	border-radius: 150px
}

body{
	font-family: Arial,Roboto;
}
body{
	background-image: url(https://live.staticflickr.com/2920/14129088256_a18c4b7569_b.jpg);
	background-repeat: no-repeat;
  background-size: 1500px 1000px;
}
a{
	color: red;
	font-size:20px;
}
a:hover{
	color: #FF00EC
}